.dc-location-bar {
  position: absolute;
  left: 270px;
  bottom: 2px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 5px;
  border-radius: 2px;
  user-select: none;
  display: flex;
  span {
    margin: 0 8px;
    display: inline-block;
  }
  .mouse-location{
    span{
      min-width: 100px;
    }
  }

}
