
.theme-default-content:not(.custom){
max-width:900px !important;
}
.theme-default-content code{
color: #e96900 !important;
}
.theme-default-content li a:has(> code){
color: #e96900 !important;
}

.theme-default-content > img{
   width:200px;
   height:200px;
 }

.hiden{
   hight: 0;
}
