.widget.compass {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
  width: 55px;
  height: 55px;

  .out-ring {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    fill: #3f4854;
    border-radius: 50%;
    svg {
      height: 55px;
      width: 55px;
    }
  }

  .gyro {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
    background: #ffffff;
  }

  .rotation_marker {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.widget.compass .gyro-active,
.widget.compass .gyro-bg:hover + .gyro {
  fill: #68adfe;
}
