@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

.dc-container {
  overflow: hidden;
  display: block;
}

.dc-attribution {
  img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.div-icon {
  user-select: none;
  background-color: #fff;
  padding: 2px 2px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
