.widget.popup {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 120px;
  min-height: 10px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  visibility: hidden;
  z-index: -1;
  cursor: pointer;
}
