.widget.zoom-controller{
  position: absolute;
  top: 90px;
  right: 36.5px;
  pointer-events: auto;
  user-select: none;
  background: #3f4854;
  border-radius: 100px;
  border: solid 1px rgba(255,255,255,0.2);
  text-align: center;
  box-sizing: border-box;
  line-height: 1.2rem;
  width: 24px;
  height: 60px;
  .zoom-in ,.refresh,.zoom-out{
    cursor: pointer;
    svg{
      width: 10px;
      height: 10px;
      fill: #fff;
    }
  }
}
